{% extends 'base.html' %}

{% block content %}
<div id="landing" class="container pt-5 mt-5 text-white-50 text-center align-items-center justify-content-evenly">
    <h1 class="display-1 fw-normal">Car Inventory API</h1>
</div>
<div class="container pt-5 mt-5">
    <div class="container mt-5 text-center text-white-50 align-items-center justify-content-center">
        <img src="../../static/images/undraw_order_ride_re_372k.svg" class="img-fluid p-5 mt-5" alt="Ordering a car ride">
    </div>
</div>
{% endblock %}